body {
    margin: 0 auto;
    background: linear-gradient(to bottom right, #DFE9F2, #B5DAED) no-repeat;
    background-attachment: fixed;
}

.main {
    left: 50%;
    margin-left: -480px;
    width: 960px;
    background: #fff;
    top: 70px;
    bottom: 70px;
    position: fixed;
    box-shadow: 0 0 50px #7da7c4cd;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    border-right: 1px solid #ddd;
}

.menu-item {
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-left: 5px solid #fff;
    transition: color,border .2s linear;
}

    .menu-item i {
        color: #888;
        font-size: 24px;
        transition: color,text-shadow .2s linear;
    }

    .menu-item.active {
        border-left: 5px solid #85CBDB;
    }

        .menu-item.active i, .menu-item:hover i {
            color: #46b7d0;
            text-shadow: 0 0 5px #46b7d066;
        }